@font-face
{
	font-family: mobz;
	src:url(fonts/peace_sans.otf);
}
@font-face
{
	font-family: mobz2;
	src:url(fonts/hard.otf);
}
.btn { 
            cursor: pointer; 
            font-family: Raleway;
            border: 1px solid; 
            background-color: transparent; 
            height: 50px; 
            width: 130px;  
            margin:5px;
            font-weight: bold;
            font-style: italic;
            font-size: 0.8em; 
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 
            background-color: #333333;
  			color: #CCCCCC;

			  border-radius: 10px;
			  
			 
        } 	
        #button{
        	text-align: center;
        	background-color: rgba(0%,0%,0%,0);

        }